.top-div {
  background: #CFEFEE;
  height: 250px;
}

.main-div {
  background: #69C4CC;
  height: 750px;
}

.top-inner {
  background: white;
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  
}

.main-inner {
  background: white;
}

.pill {
  color: white:
  background: gray;
  border-radius: 10px;
}

footer {
  
}

nav ul li {
  text-decoration: none;
  display: inline;
  padding: 30px;
}

nav {
  background: #F3CECD;
  padding: 10px;
}

